version: "3.8"

services:
  online-stats:
    build: .
    container_name: online-stats
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./data:/app/data
      - ./output:/app/output
    environment:
      - PYTHONPATH=/app
    env_file:
      - .env
    command: python api.py
